<div class="bar">
  <a class="bar-back" mat-icon-button [routerLink]="''">
    <mat-icon>arrow_back</mat-icon>
  </a>
</div>
<div class="content">
  <div class="visual">
    <div class="visual-circle">
      <div class="visual-circle-circle">
        <div
          class="visual-circle-circle-gradient"
          [style.background]="track?.gradient"
        ></div>
      </div>
    </div>
  </div>
  <div class="track">
    <span class="track-name">{{ track?.title }}</span>
    <span class="track-artist">{{ track?.artist }}</span>
  </div>
  <div class="seekbar">
    <span class="seekbar-time__indicator">{{
      audio.currentTime | mediaTime
    }}</span>
    <mat-slider class="seekbar-slider" #seekbarSlider [max]="audio.duration">
      <input
        matSliderThumb
        [value]="audio.currentTime"
        (dragEnd)="handleSeek($event)"
      />
    </mat-slider>
    <span class="seekbar-time__indicator">{{
      audio.duration | mediaTime
    }}</span>
  </div>
  <div class="controls">
    @if (track !== undefined && hasLoadedMetadata()) {
    <button
      class="controls-button"
      mat-icon-button
      [disabled]="!hasPrevious(track)"
      (click)="goto(track, 'previous')"
    >
      <mat-icon class="controls-button-icon">skip_previous</mat-icon>
    </button>
    <button class="controls-button" mat-icon-button (click)="replay10()">
      <mat-icon class="controls-button-icon">replay_10</mat-icon>
    </button>
    @if (isPlaying()) {
    <button class="controls-button" mat-icon-button (click)="pause()">
      <mat-icon class="controls-button-icon">pause</mat-icon>
    </button>
    } @else {
    <button class="controls-button" mat-icon-button (click)="play()">
      <mat-icon class="controls-button-icon">play_arrow</mat-icon>
    </button>
    }
    <button class="controls-button" mat-icon-button (click)="forward10()">
      <mat-icon class="controls-button-icon">forward_10</mat-icon>
    </button>
    <button
      class="controls-button"
      mat-icon-button
      [disabled]="!hasNext(track)"
      (click)="goto(track, 'next')"
    >
      <mat-icon class="controls-button-icon">skip_next</mat-icon>
    </button>
    }
  </div>
</div>
