:host {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-y: auto;
  background: linear-gradient(to bottom right, #3C3481, #252547);
  box-sizing: border-box;
  padding: 16px;
}

.bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding-left: 16px;
  padding-right: 16px;
}

.bar-back {
  display: flex;
  align-items: center;
  color: white;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.visual {
  display: flex;
  justify-content: center;
  align-items: center;
}

.visual-circle {
  display: grid;
  place-items: center;
  width: 256px;
  height: 256px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.05);
}

.visual-circle-circle {
  display: grid;
  place-items: center;
  width: 88%;
  height: 88%;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.075);
}

.visual-circle-circle-gradient {
  width: 88%;
  height: 88%;
  border-radius: 50%;
}

.track {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 4px;
}

.track-name {
  font-size: 20px;
  color: white;
}

.track-artist {
  font-size: 12px;
  color: rgb(233, 233, 233);
}

.seekbar {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding-left: 24px;
  padding-right: 24px;
}

.seekbar-time__indicator {
  color: white;
  font-size: 12px;
  font-weight: 500;
}

.seekbar-slider {
  display: flex;
  flex-grow: 1;
  box-sizing: border-box;
  margin-left: calc(24px + 4px);
  margin-right: calc(24px + 4px);
}

.seekbar-slider {
  --mdc-slider-handle-color: white;
  --mdc-slider-focus-handle-color: white;
  --mdc-slider-hover-handle-color: white;
  --mdc-slider-active-handle-color: white;
  --mdc-slider-inactive-handle-color: white;
  --mdc-slider-with-tick-marks-inactive-container-color: white;
  --mat-mdc-slider-ripple-color: white;
  --mat-mdc-slider-hover-ripple-color: rgba(255, 255, 255, 0.05);
  --mat-mdc-slider-focus-ripple-color: rgba(255, 255, 255, 0.02);
  --mdc-slider-handle-width: 15px;
  --mdc-slider-handle-height: 15px;
}

.controls {
  height: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  margin-bottom: 16px;
}

.controls-button {
  display: grid;
  place-items: center;
  --mdc-icon-button-state-layer-size: 64px;
}

.controls-button-icon {
  width: 32px;
  height: 32px;
  font-size: 32px;
}

// XSmall
@media only screen and (min-width: 0px) {}

// Small
@media only screen and (min-width: 600px) {}

// Medium
@media only screen and (min-width: 960px) {}

// Large
@media only screen and (min-width: 1440px) {}

// XLarge
@media only screen and (min-width: 1920px) {}