:host {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.shell {
  height: 1px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.frame {
  overflow: hidden;
  border-radius: 32px;
  border: 12px;
  border-color: #202020;
  border-style: solid;
  box-sizing: border-box;
}

// XSmall
@media only screen and (min-width: 0px) {

}

// Small
@media only screen and (min-width: 600px) {
  .frame {
    max-width: var(--frame-max-width);
    max-height: calc(var(--frame-max-width) * 2);
  }
}

// Medium
@media only screen and (min-width: 960px) {

}

// Large
@media only screen and (min-width: 1440px) {

}

// XLarge
@media only screen and (min-width: 1920px) {

}