<div class="bar">
  <button class="bar-title" mat-flat-button [matMenuTriggerFor]="menuX">Tracks</button>
  <mat-menu class="track-options" #menuX="matMenu">
    <button class="track-options-item" mat-menu-item (click)="trackService.reset()">Reset</button>
  </mat-menu>
  <mat-slide-toggle [checked]="isDragMode()" (change)="handleDragModeChanged($event)">DRAG MODE</mat-slide-toggle>
</div>
<div class="track-list" [class.drag-mode]="isDragMode()" cdkDropList (cdkDropListDropped)="trackService.drop($event)">
  <div class="track" [class.mat-elevation-z4]="isDragMode()" [style.cursor]="isDragMode() ? 'move' : 'pointer'" cdkDrag [cdkDragDisabled]="!isDragMode()" *ngFor="let track of trackService.tracks(); index as i" mat-button (click)="navigate(track)">
    <div class="track-rank">{{ i + 1 }}</div>
    <div class="track-cover" [style.background]="track.gradient"></div>
    <div class="track-info">
      <span class="track-info-name">{{ track.title }}</span>
      <span class="track-info-artist">{{ track.artist }}</span>
    </div>
    <button class="track-options-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.preventDefault(); $event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="track-options" #menu="matMenu">
      <button class="track-options-item" mat-menu-item (click)="trackService.remove(track)">Remove</button>
    </mat-menu>
  </div>
</div>
