<div class="bar">
  <span class="bar-title">Tracks</span>
  <mat-slide-toggle [checked]="isDragMode()" (change)="handleDragModeChanged($event)">DRAG MODE</mat-slide-toggle>
</div>
<div class="track-list" [class.drag-mode]="isDragMode()" cdkDropList (cdkDropListDropped)="drop($event)">
  <div class="track" cdkDrag [cdkDragDisabled]="isDragMode() === false" *ngFor="let track of trackService.tracks; index as i" mat-button (click)="navigate(track)">
    <div class="track-rank">{{ i + 1 }}</div>
    <div class="track-cover" [style.background]="track.gradient"></div>
    <div class="track-info">
      <span class="track-info-name">{{ track.title }}</span>
      <span class="track-info-artist">{{ track.artist }}</span>
    </div>
    <button class="track-options-button" mat-icon-button [matMenuTriggerFor]="menu" (click)="$event.preventDefault(); $event.stopPropagation()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu class="track-options" #menu="matMenu">
      <button class="track-options-item" mat-menu-item (click)="trackService.tracks.remove(track)">
        Remove
      </button>
    </mat-menu>
  </div>
</div>
